
            span{
                padding-bottom: 20px;
            }


            body{
                background-color: rgb(88, 87, 87);
            
            }


            .logo{
                width: 100px;
            }

